# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
dist

# Environment files
.env*.local
.env
.env.local

# IDE
.idea
.vscode
*.swp
*.swo
*.log

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: Cache
.cache
.eslintcache

# Optional: IDE settings
*.code-workspace